In [9]:
#Install sodapy if not installed already
#!pip install sodapy

In [4]:
from sodapy import Socrata
import pandas as pd

In [5]:
client = Socrata("data.sfgov.org", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [6]:
results = client.get("wg3w-h783", limit=2000)

In [7]:
results_df = pd.DataFrame.from_records(results)

In [8]:
results_df

,:@computed_region_26cr_cadq,:@computed_region_2dwj_jsy4,:@computed_region_6pnf_4xz7,:@computed_region_6qbp_sg9q,:@computed_region_ajp5_b2md,:@computed_region_h4ep_8xdi,:@computed_region_jg9y_a9du,:@computed_region_nqbw_i6c3,:@computed_region_qgnn_b9vv,:@computed_region_y6ts_4iup,...,latitude,longitude,point,police_district,report_datetime,report_type_code,report_type_description,resolution,row_id,supervisor_district
0,7,NaN,1,39,35,NaN,NaN,NaN,10,NaN,...,37.76256939715695,-122.49962745519909,"{'latitude': '37.76256939715695', 'longitude':...",Taraval,2019-06-12T20:27:00.000,II,Initial,Open or Active,81097515200,4
1,10,NaN,2,32,34,1,NaN,1,1,NaN,...,37.7805353858225,-122.40816079455212,"{'latitude': '37.7805353858225', 'longitude': ...",Southern,2019-06-22T08:05:00.000,II,Initial,Open or Active,81465564020,6
2,9,NaN,2,88,1,NaN,NaN,NaN,2,NaN,...,37.72159985216247,-122.39074534279013,"{'latitude': '37.72159985216247', 'longitude':...",Bayview,2019-06-03T16:16:00.000,IS,Initial Supplement,Open or Active,80769875000,10
3,3,18,2,104,6,NaN,NaN,NaN,6,NaN,...,37.794859532228344,-122.40487561154785,"{'latitude': '37.794859532228344', 'longitude'...",Central,2018-11-16T16:34:00.000,IS,Initial Supplement,Cite or Arrest Adult,73857915041,3
4,6,NaN,1,15,13,NaN,NaN,NaN,4,NaN,...,37.79771621229674,-122.43055896140594,"{'latitude': '37.79771621229674', 'longitude':...",Northern,2019-05-27T02:55:00.000,II,Initial,Open or Active,80509204134,2
5,10,NaN,1,32,8,NaN,NaN,NaN,1,NaN,...,37.78582921318811,-122.40148983641853,"{'latitude': '37.78582921318811', 'longitude':...",Central,2018-11-15T11:28:00.000,II,Initial,Open or Active,73795805151,6
6,6,NaN,1,13,18,NaN,NaN,NaN,8,NaN,...,37.782488031626265,-122.4458205129012,"{'latitude': '37.782488031626265', 'longitude'...",Richmond,2019-08-15T17:23:00.000,II,Initial,Open or Active,83489506244,2
7,10,NaN,2,32,34,1,NaN,1,5,NaN,...,37.780005867994824,-122.41193341005338,"{'latitude': '37.780005867994824', 'longitude'...",Tenderloin,2019-08-07T07:47:00.000,II,Initial,Open or Active,83165364085,6
8,11,NaN,2,97,39,NaN,NaN,NaN,4,NaN,...,37.78080176962032,-122.43726005920409,"{'latitude': '37.78080176962032', 'longitude':...",Northern,2018-11-15T15:56:00.000,IS,Initial Supplement,Cite or Arrest Adult,73829775025,5
9,6,NaN,1,99,32,NaN,NaN,NaN,6,NaN,...,37.806780111468534,-122.4195772441978,"{'latitude': '37.806780111468534', 'longitude'...",Central,2019-06-29T16:52:00.000,II,Initial,Cite or Arrest Adult,81679765010,2
10,5,NaN,1,28,5,NaN,NaN,5,3,NaN,...,37.76773488710466,-122.42865716430941,"{'latitude': '37.76773488710466', 'longitude':...",Mission,2019-03-07T22:45:00.000,II,Initial,Cite or Arrest Adult,77739816650,8
11,11,NaN,1,22,9,NaN,NaN,NaN,4,NaN,...,37.77625366680294,-122.42791371593532,"{'latitude': '37.77625366680294', 'longitude':...",Northern,2019-02-16T11:37:00.000,II,Initial,Cite or Arrest Adult,77067214020,5
12,3,NaN,1,108,8,NaN,NaN,NaN,6,NaN,...,37.79544849687888,-122.40041268582165,"{'latitude': '37.79544849687888', 'longitude':...",Central,2019-02-27T17:09:00.000,II,Coplogic Initial,Open or Active,77514206244,3
13,6,NaN,1,107,32,NaN,NaN,NaN,6,NaN,...,37.80148085930786,-122.4161329976556,"{'latitude': '37.80148085930786', 'longitude':...",Central,2018-11-09T13:02:00.000,II,Initial,Open or Active,73574572000,2
14,11,NaN,2,101,15,NaN,NaN,NaN,4,NaN,...,37.78537264618818,-122.43136639807875,"{'latitude': '37.78537264618818', 'longitude':...",Northern,2019-04-08T12:46:00.000,II,Initial,Open or Active,78815406242,5
15,10,NaN,2,20,36,1,NaN,NaN,4,NaN,...,37.78430272931328,-122.42101751556473,"{'latitude': '37.78430272931328', 'longitude':...",Northern,2019-08-14T08:52:00.000,II,Initial,Cite or Arrest Adult,83436230155,6
16,10,NaN,2,20,36,1,NaN,NaN,5,NaN,...,37.78414101130419,-122.41095161908784,"{'latitude': '37.78414101130419', 'longitude':...",Tenderloin,2019-03-21T14:57:00.000,IS,Initial Supplement,Cite or Arrest Adult,78380004013,6
17,3,NaN,1,16,21,NaN,NaN,NaN,6,NaN,...,37.790973190511274,-122.41739133606869,"{'latitude': '37.790973190511274', 'longitude'...",Central,2019-01-08T12:06:00.000,II,Initial,Open or Active,75706672000,3
18,11,NaN,1,29,3,NaN,NaN,NaN,7,NaN,...,37.76580002791046,-122.44995813260148,"{'latitude': '37.76580002791046', 'longitude':...",Park,2019-07-26T05:22:00.000,II,Initial,Cite or Arrest Adult,82693328150,5
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Out of SF,2019-06-22T20:52:00.000,VS,Vehicle Supplement,Open or Active,81452171012,NaN
20,3,NaN,2,106,6,NaN,NaN,NaN,6,NaN,...,37.79750494349097,-122.40204098389721,"{'latitude': '37.79750494349097', 'longitude':...",Central,2019-07-08T23:11:00.000,II,Coplogic Initial,Open or Active,82081206244,3
21,9,NaN,2,86,1,NaN,NaN,NaN,2,NaN,...,37.72990988256753,-122.39717687851248,"{'latitude': '37.72990988256753', 'longitude':...",Bayview,2018-12-15T08:00:00.000,IS,Initial Supplement,Open or Active,74832272000,10
22,7,NaN,1,40,35,NaN,NaN,NaN,10,NaN,...,37.73637053103888,-122.49993927668432,"{'latitude': '37.73637053103888', 'longitude':...",Taraval,2019-01-25T01:33:00.000,II,Initial,Open or Active,76281605153,4
23,9,NaN,2,86,1,NaN,NaN,NaN,2,NaN,...,37.73016676314127,-122.38585274114044,"{'latitude': '37.73016676314127', 'longitude':...",Bayview,2019-05-18T15:28:00.000,II,Initial,Cite or Arrest Adult,80220912080,10
24,3,NaN,2,19,8,NaN,NaN,NaN,6,NaN,...,37.789631596400895,-122.40539867427,"{'latitude': '37.789631596400895', 'longitude'...",Central,2018-11-14T05:46:00.000,IS,Initial Supplement,Cite or Arrest Adult,73738163010,3
25,4,NaN,1,8,17,NaN,NaN,NaN,8,NaN,...,37.781327195293386,-122.4998705718611,"{'latitude': '37.781327195293386', 'longitude'...",Richmond,2018-11-23T12:24:00.000,II,Initial,Open or Active,74404906244,1
26,11,NaN,1,97,9,NaN,NaN,1,4,NaN,...,37.77874737106934,-122.42335402580974,"{'latitude': '37.77874737106934', 'longitude':...",Northern,2019-02-27T13:21:00.000,IS,Coplogic Supplement,Open or Active,77479206374,5
27,6,NaN,1,3,27,NaN,NaN,NaN,NaN,NaN,...,37.80245394512826,-122.45229180595607,"{'latitude': '37.80245394512826', 'longitude':...",Richmond,2019-03-27T16:39:00.000,II,Initial,Cite or Arrest Adult,78419863010,2
28,2,NaN,2,53,20,NaN,NaN,3,3,NaN,...,37.75220444116967,-122.4190175437401,"{'latitude': '37.75220444116967', 'longitude':...",Mission,2019-06-20T18:48:00.000,II,Initial,Open or Active,81377004134,9
29,3,NaN,1,77,8,NaN,NaN,NaN,6,NaN,...,37.79888096617859,-122.39869570327996,"{'latitude': '37.79888096617859', 'longitude':...",Central,2019-04-30T20:35:00.000,II,Initial,Cite or Arrest Adult,79616427130,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,5,NaN,1,57,10,NaN,NaN,NaN,9,NaN,...,37.74545961234702,-122.44633615796015,"{'latitude': '37.74545961234702', 'longitude':...",Ingleside,2019-03-03T21:06:00.000,II,Initial,Open or Active,77594826142,8
1971,3,NaN,2,104,6,NaN,NaN,NaN,6,NaN,...,37.794666280424096,-122.40313929638648,"{'latitude': '37.794666280424096', 'longitude'...",Central,2019-03-09T03:08:00.000,II,Coplogic Initial,Open or Active,77801771000,3
1972,4,NaN,1,5,12,NaN,NaN,NaN,8,NaN,...,37.7734887430876,-122.46481167093468,"{'latitude': '37.7734887430876', 'longitude': ...",Richmond,2020-02-06T12:11:00.000,II,Initial,Open or Active,89989568000,1
1973,2,NaN,2,53,20,NaN,NaN,3,3,NaN,...,37.7666245156216,-122.42063784502452,"{'latitude': '37.7666245156216', 'longitude': ...",Mission,2019-02-19T13:55:00.000,VS,Vehicle Supplement,Open or Active,77162007041,9
1974,9,NaN,1,85,1,NaN,NaN,NaN,2,NaN,...,37.74219719880206,-122.4004267387654,"{'latitude': '37.74219719880206', 'longitude':...",Bayview,2020-02-06T20:31:00.000,II,Initial,Open or Active,90001906243,10
1975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Out of SF,2019-06-03T10:08:00.000,II,Coplogic Initial,Open or Active,80877106372,NaN
1976,11,NaN,1,97,39,NaN,NaN,NaN,7,NaN,...,37.77664400638942,-122.43984423759116,"{'latitude': '37.77664400638942', 'longitude':...",Park,2020-02-05T21:02:00.000,II,Coplogic Initial,Open or Active,89970206244,5
1977,3,NaN,1,16,21,NaN,NaN,NaN,6,NaN,...,37.79041474114696,-122.41429655153992,"{'latitude': '37.79041474114696', 'longitude':...",Northern,2020-02-06T16:29:00.000,II,Initial,Open or Active,89993709029,3
1978,10,NaN,1,32,8,NaN,NaN,NaN,1,NaN,...,37.78404443715923,-122.40371175457705,"{'latitude': '37.78404443715923', 'longitude':...",Southern,2020-02-06T08:17:00.000,II,Initial,Cite or Arrest Adult,89983006371,6
1979,3,NaN,1,102,32,NaN,NaN,NaN,4,NaN,...,37.793935004155436,-122.42304880529804,"{'latitude': '37.793935004155436', 'longitude'...",Northern,2018-11-21T19:11:00.000,II,Initial,Open or Active,74011006361,3
1980,5,NaN,1,61,2,NaN,NaN,NaN,9,NaN,...,37.73606117177687,-122.42446626401404,"{'latitude': '37.73606117177687', 'longitude':...",Ingleside,2019-03-20T17:03:00.000,II,Initial,Open or Active,78185005073,8
1981,8,NaN,1,45,41,NaN,NaN,NaN,10,NaN,...,37.750273703674814,-122.4620684887434,"{'latitude': '37.750273703674814', 'longitude'...",Park,2020-02-06T01:17:00.000,II,Initial,Cite or Arrest Adult,89961726170,7
1982,11,NaN,2,101,39,NaN,NaN,NaN,4,NaN,...,37.78392473449428,-122.42777887211062,"{'latitude': '37.78392473449428', 'longitude':...",Northern,2020-02-04T23:26:00.000,II,Coplogic Initial,Open or Active,89977606224,5
1983,10,NaN,2,20,36,1,NaN,NaN,5,NaN,...,37.784709803078236,-122.41780582056246,"{'latitude': '37.784709803078236', 'longitude'...",Tenderloin,2019-07-23T07:22:00.000,II,Initial,Cite or Arrest Adult,82566327195,6
1984,10,NaN,2,20,36,1,NaN,NaN,4,NaN,...,37.78356778488696,-122.41927343381671,"{'latitude': '37.78356778488696', 'longitude':...",Northern,2020-02-06T08:24:00.000,II,Initial,Cite or Arrest Adult,89984116650,6
1985,9,NaN,2,78,1,NaN,NaN,NaN,2,NaN,...,37.72987387412528,-122.37200569864783,"{'latitude': '37.72987387412528', 'longitude':...",Bayview,2020-02-06T19:54:00.000,II,Initial,Open or Active,89998806243,10
1986,9,NaN,1,54,26,NaN,NaN,NaN,2,NaN,...,37.75706836664919,-122.40280294494583,"{'latitude': '37.75706836664919', 'longitude':...",Bayview,2020-01-31T22:04:00.000,II,Coplogic Initial,Open or Active,89968706224,10
1987,3,NaN,2,106,23,NaN,NaN,NaN,6,NaN,...,37.8060277166905,-122.41031084283831,"{'latitude': '37.8060277166905', 'longitude': ...",Southern,2020-02-04T16:15:00.000,IS,Initial Supplement,Cite or Arrest Adult,89993675025,3
1988,7,NaN,1,39,35,NaN,NaN,NaN,10,NaN,...,37.74215244208218,-122.49604924043959,"{'latitude': '37.74215244208218', 'longitude':...",Taraval,2019-08-14T11:52:00.000,II,Initial,Open or Active,83440771000,4
1989,5,NaN,2,53,20,NaN,NaN,3,3,NaN,...,37.76491737717617,-122.42188644715362,"{'latitude': '37.76491737717617', 'longitude':...",Mission,2020-02-04T14:03:00.000,II,Coplogic Initial,Open or Active,89964406374,8
1990,9,NaN,1,55,26,NaN,NaN,NaN,2,NaN,...,37.7604352766892,-122.38948581378199,"{'latitude': '37.7604352766892', 'longitude': ...",Bayview,2020-02-02T13:48:00.000,II,Coplogic Initial,Open or Active,89968806224,10
1991,2,NaN,2,53,20,NaN,NaN,3,3,NaN,...,37.75765111608875,-122.40865127398199,"{'latitude': '37.75765111608875', 'longitude':...",Mission,2020-02-06T14:34:00.000,II,Initial,Open or Active,89994905013,9
1992,9,NaN,2,87,1,NaN,NaN,NaN,2,NaN,...,37.73530770832697,-122.39820852286668,"{'latitude': '37.73530770832697', 'longitude':...",Bayview,2020-02-02T10:46:00.000,II,Coplogic Initial,Open or Active,89967171000,10
1993,5,NaN,1,38,5,NaN,NaN,5,3,NaN,...,37.76088893209152,-122.4350007026991,"{'latitude': '37.76088893209152', 'longitude':...",Mission,2020-02-02T16:48:00.000,IS,Coplogic Supplement,Open or Active,89979805073,8
1994,2,NaN,1,91,25,NaN,NaN,NaN,2,NaN,...,37.726516597630564,-122.41407204924414,"{'latitude': '37.726516597630564', 'longitude'...",Bayview,2020-02-06T17:15:00.000,II,Initial,Open or Active,89996375000,9
1995,11,NaN,1,97,9,NaN,NaN,1,4,NaN,...,37.77874737106934,-122.42335402580974,"{'latitude': '37.77874737106934', 'longitude':...",Bayview,2019-12-13T11:10:00.000,II,Initial,Cite or Arrest Adult,88209763010,5
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Bayview,2019-05-14T11:29:00.000,II,Coplogic Initial,Open or Active,80313806244,NaN
1997,6,NaN,1,15,13,NaN,NaN,NaN,4,NaN,...,37.79864833754814,-122.43074718839506,"{'latitude': '37.79864833754814', 'longitude':...",Northern,2020-02-06T08:45:00.000,II,Initial,Open or Active,89981809029,2
1998,10,NaN,2,33,34,NaN,NaN,NaN,1,NaN,...,37.77385630397913,-122.40528580238285,"{'latitude': '37.77385630397913', 'longitude':...",Southern,2020-02-06T11:13:00.000,VS,Vehicle Supplement,Open or Active,89985207041,6
1999,10,NaN,2,20,36,1,NaN,1,5,NaN,...,37.78258503232177,-122.41569387441227,"{'latitude': '37.78258503232177', 'longitude':...",Tenderloin,2020-02-06T05:27:00.000,IS,Initial Supplement,Cite or Arrest Adult,89963007020,6